@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

/* Common */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Button */

.button {
  display: inline-block;
  margin: 0;
  padding: 12px 32px;
  color: #2D3440;
  background-color: #fcfcfc;
  border-radius: 26px;
  border: none;
  box-shadow:
    0px 0px 0px 2px rgba(252, 252, 252, 0.40),
    0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  box-sizing: content-box;
  cursor: pointer;
}

.button:hover {
   background-color: rgba(252, 252, 252, 0.40);
   box-shadow:
    0px 0px 0px 2px rgba(252, 252, 252),
    0px 4px 15px 0px rgba(133, 133, 133, 0.15);
}

.button--secondary {
  color: #FCFCFC;
  background: var(--special-extra-bright, #FF2F64);
  box-shadow:
    0px 0px 0px 2px rgba(255, 47, 100, 0.30),
    0px 4px 12px 0px rgba(45, 52, 64, 0.1);
}

/* Form */

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field__lead {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

.field__info {
  width: 14px;
  height: 14px;
  background-image: url("../img/icon/info.svg");
  background-size: contain;
  border: none;
  background-color: transparent;
}

.field__input {
  padding: 14px 16px;
  border-radius: 4px;
  border: 1px solid var(--basic-neutral, #B9B9B9);
  color: #565c66;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.field__input::placeholder {
  color: #B9B9B9;
}



/* Page */

.page {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--basic-dark, #565C66);
}

.page__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1170px;
  min-height: 100%;
}

.page__body--pink {
  background: #feafc3;
}

.page__body--blue {
  background: #69A9FF;
}

.page__body--yellow {
  background: #FCC850;
}

.page__main {
  flex-grow: 1;
}

/* Header */
.page-header__nav {
  padding: 24px 0;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 16px;
}

.logo {
  display: block;
}

.logo__img {
  display: block;
}

.site-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.site-menu__item {
  position: relative;
}

.site-menu__link {
  padding: 8px 16px;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.site-menu__icon {

}

.additional-menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.additional-menu__phone {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.additional-menu__button {
  margin: 0;
  padding: 0;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: rgba(252, 252, 252, 0.30);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.additional-menu__button--search {
  padding: 8px;
}

/* Main */
.page-main__section:not(:last-child) {
  margin-bottom: 80px;
}

.page-main__title {
  margin: 0;
  margin-bottom: 56px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  color: var(--basic-extra-dark, #2D3440);
}

.page-main__title--inner {
  margin-bottom: 40px;
  text-align: left;
}

.page-main__desc {

}

/* Slider */

.slider {
  display: grid;
  grid-template-columns: 888px 100px 100px;
  align-items: center;
  column-gap: 40px;
  position: relative;
}

.slider__item {
  display: block;
}

.slider__content {
  display: none;
}

.slider__title {
  margin: 0;
  margin-bottom: 24px;
  width: 470px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.slider__desc {
  margin: 0;
  margin-bottom: 48px;
  width: 430px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.slider__img-wrap {
  padding: 21px 0 26px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.slider__img-wrap::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  opacity: 0.4;
}

.slider__img {
  display: block;
  width: 66px;
  height: 150px;
}

.slider__item--active  {
  display: grid;
  grid-template-columns: 540px 1fr;
  gap: 5px;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}


.slider__item--active .slider__content {
  display: block;
  padding-left: 70px;
  color: #2D3440;
}

.slider__item--active .slider__img-wrap {
  margin-right: 16px;
}

.slider__item--active .slider__img-wrap::after {
  width: 328px;
  height: 312px;
  opacity: 1;
}

.slider__item--active .slider__img {
  width: 328px;
  height: 507px;
}

.slider__controls {
  width: 365px;
  height: 38px;
  position: absolute;
  top: 258px;
  right: 278px;
  display: flex;
  justify-content: space-between;
}

.slider__button {
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.slider__button--prev,
.slider__button--next {
  color: #fcfcfc;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider-pagination__button {
  width: 12px;
  height: 12px;
  background-color: #FCFCFC;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
}

.slider-pagination__button--current {
  opacity: 1;
}

.slider__social {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Gifts */

.gifts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.gifts__item {
  padding: 36px 200px 36px 36px;
  background-color: #F79;
  border-radius: 16px;
  color: #2D3440;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.gifts__item--raspberry {
  background-image: url("../img/raspberry.png");
}

.gifts__item--marshmallows {
  background-image: url("../img/marshmallows.png");
}

.gifts__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.gifts__desc {
  margin-bottom: 28px;
}

.popular__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Card  */

.card {
  padding: 0 40px 28px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  position: relative;
  color: #2D3440;
}

.card::after{
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background-color: #fcfcfc;
  border-radius: 8px;
  z-index: -1;
}

.card__img {
  margin-bottom: 16px;
  grid-column: 1 / -1;
  justify-self: center;
}

.card__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  grid-column: 1 / -1;
}

.card__desc {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  grid-column: 1 / -1;
}

.card__price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.card__button {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  color: #ffffff;
  cursor: pointer;
}

/* Advantages */

.advantages {
  padding: 24px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../img/background/advantages-bg.png");
  border-radius: 16px;
}

.advantages__inner {
  padding: 56px 40px;
  background-color: #ffffff;
  border-radius: 16px;

}

.advantages__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px ;
  list-style-type: none;
}

.advantages__item {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 16px;
}

.advantages__item::before {
  content: "";
  display: block;
  padding: 8px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 32px 32px;
  border: 2px solid #2D3440;
  border-radius: 50%;
}

.advantages__item--ice-cream::before {
  background-image: url("../img/icon/ice-cream.svg");
}

.advantages__item--cow::before {
  background-image: url("../img/icon/cow.svg");
}

.advantages__item--leaf::before {
  background-image: url("../img/icon/leaf.svg");
}

.advantages__item--thermometer::before {
  background-image: url("../img/icon/thermometer.svg");
}

/* Info */

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.news {
  padding: 32px 235px 32px 32px;
  background-color: #fff;
  border-radius: 16px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../img/background/news-bg.jpg ");
}

.subscribe {
  padding: 6px;
  background-color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../img/background/subscribe-bg.png");
  border-radius: 16px;
}

.subscribe__inner {
  padding: 26px;
  background-color: #fff;
  border-radius: 16px;
}

/* Delivery */

.delivery {
  padding: 64px 64px 64px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../img/background/delivery-bg.jpg");
  border-radius: 16px;
}

.delivery__content {
  width: 370px;
}

.delivery__title  {
  margin-bottom: 24px;
  text-align: left;
}

.delivery__desc {
  margin: 0;
}

.delivery__info  {
  margin: 0;
  margin-bottom: 32px;
  padding-right: 40px;
}

.delivery__form-wrap {
  width: 500px;
  padding: 40px;
  border-radius: 8px;
  background: var(--basic-extra-light, #FCFCFC);
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
}

.delivery__form {
  display: grid;
  grid-template-columns: 117px 1fr ;
  gap: 20px 16px;
}

.form__field--address {
  grid-column: 1 / -1;
}


.form__button {
  margin-top: 12px;
  grid-column: 1 / -1;
  justify-self: center;
}

/* Contact */

.contacts {
  padding: 64px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../img/background/feedback-bg.jpg");
  border-radius: 16px;
}

.contacts__container {
  padding: 40px;
  width: 343px;
  font-style: normal;
  border-radius: 8px;
  background: var(--basic-extra-light, #FCFCFC);
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
}

.contacts__inner {
  font-style: normal;
}

.contacts__text {
  margin: 0;
  padding-right: 60px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
}

.contacts__address {
  margin: 0;
  margin-bottom: 24px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.contacts__phone {
  margin: 0;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.contacts__label {
  display: inline-block;
  margin-bottom: 32px;
}

/* Foote */

.page__footer {
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
}

/* Social */

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  list-style-type: none;
}

.social__item {
  margin: 0;
  padding: 0;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.social__link {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fcfcfc;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.social__link--telegram {
  -webkit-mask-image: url(../img/icon/telegram.svg);
  mask-image: url(../img/icon/telegram.svg);
}

.social__link--vk {
  -webkit-mask-image: url(../img/icon/vk.svg);
  mask-image: url(../img/icon/vk.svg);
}

.social__link--youtube {
  -webkit-mask-image: url(../img/icon/youtube.svg);
  mask-image: url(../img/icon/youtube.svg);
}

.footer-menu__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 8px 24px ;
  align-items: center;
  list-style-type: none;
  white-space: nowrap;
}

.footer-menu__item {
  position: relative;
}

.footer-menu__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-menu__link--heart {
  font-weight: 700;
}

.footer-menu__link--heart::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: -24px;
  background-image: url("../img/icon/heart-fill.svg");
  background-position: 50% 50%;
}

/* Developer */

.developer__text {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #2D3440;
}

.developer__image {
  width: 93px;
  height: 27px;
  margin-bottom: 14px;
}

.developer__link {
  color: #2D3440;
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-top: 36px;
  display: flex;
  gap: 8px;
  align-items: center;
  list-style-type: none;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon/chevrons-right.svg");
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.breadcrumbs__link--current {
  border-bottom: 1px solid #2D3440;
}

/* Catalog */

.card-list {
  margin: 0;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
}

/* Filter */

.filter {
  margin-bottom: 44px;
  max-width: 823px;
}

.filter__form {
  display: grid;
  gap: 16px;
}

.filter__top {
  display: grid;
  grid-template-columns: 196px 196px auto;
  column-gap: 24px;
}

.filter__bottom {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.filter__title {
  margin: 0 0 8px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.filter__list {
  margin: 0;
  padding: 8px 24px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  list-style-type: none;
}

.filter__list--fillers {
  padding: 10px 24px;
}

/* Select */

.filter__select {
  width: 100%;
  padding: 8px 36px 8px 16px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 20px;
  background-image: url(../img/icon/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

/* Range */

.range__input {
  width: 30px;
  font: inherit;
  text-align: center;
  color: inherit;
  border: none;
  background-color: transparent;
  appearance: textfield;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range__inner {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
}

.scale {
  width: 100%;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
}

.scale__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #2D3440;
}

.scale__toggle {
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 6px solid #2d3440;
  border-radius: 50%;
  cursor: pointer;
}

/* Filter Button */

.filter__button {
  margin-top: auto;
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  box-shadow: none;
}

/* Control */

.control {
  display: grid;
  grid-template-columns: 16px 1fr;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.control__input {
  width: 100%;
  height: 16px;
  z-index: 1;
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
}

.control__lead {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 16px 1fr;
  gap: 8px;
  align-items: center;
}

.control__lead::after,
.control__lead::before {
  content: "";
  grid-column: 1/2;
  grid-row: 1/2;
  width: 16px;
  height: 16px;
}

.control--radio .control__lead::before {
  border: 1px solid #2D3440;
  border-radius: 50%;
}

.control--radio .control__input:checked + .control__lead::after {
  background-color: #2D3440;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 50%;
}


.control--checkbox .control__lead::before {
  background-color: #2D3440;
  -webkit-mask:  url(../img/icon/checkbox-false.svg) no-repeat 50% 50%;
  mask: url(../img/icon/checkbox-false.svg) no-repeat 50% 50%;
}

.control--checkbox .control__input:checked + .control__lead::before {
  background-color: #2D3440;
  -webkit-mask:  url(../img/icon/checkbox-true.svg) no-repeat 50% 50%;
  mask: url(../img/icon/checkbox-true.svg) no-repeat 50% 50%;
}

/* Pagination */

.pagination {
  padding: 40px 0 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.pagination__button {
  grid-column: 2 / 3;
  justify-self: center;
  width: 180px;
}

.pagination__nav {
  grid-column: -2 / -1;
  justify-self: end;
}

.pagination__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  padding: 4px;
  color: #2D3440;
  background-color: transparent;
  border-radius: 50%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.pagination__link--current {
  background-color: #FCFCFC;
}

.pagination__link--prev,
.pagination__link--next {
  color: #2D3440;
}

.pagination_link--disabled {
  opacity: 0.3;
}
